# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=mydevuser
POSTGRES_PASSWORD=mydevpass
POSTGRES_DB=radio_dev
DATABASE_URL=postgresql://mydevuser:mydevpass@postgres:5432/radio_dev

SITE_NAME="My Website Name"
SITE_URL="http://localhost:3000"

ICECAST_HOST="icecast" # Keep this the same, as it should reflect the service in the docker compose
ICECAST_PORT="8000"
ICECAST_PASSWORD="hackme"
ICECAST_MOUNT="yourmountpoint"
ICECAST_NAME="Your Icecast Server Name"
ICECAST_ADMIN_USER="admin"
ICECAST_ADMIN_PASS="hackme"
ICECAST_ADMIN_EMAIL="Admin@email.com"
ICECAST_LOCATION="Icecast server location"

HARBOR_PASSWORD="securepassword"
HARBOR_PORT=8005
HARBOR_MOUNT="/dj"

NODE_ENV="development"

SALT_ROUNDS=10

STORAGE_BACKEND=s3

SECRET_ARCHIVE_TOKEN=secretToken

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin