# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypass
POSTGRES_DB=radio
DATABASE_URL=postgresql://myuser:s3cretpass@postgres:5432/radio

NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true

AUTH_SECRET="your-auth-secret"

AUTH_GOOGLE_ID="Your Google Id"
AUTH_GOOGLE_SECRET="Your Google Secret"

SITE_NAME="My Website Name"
SITE_URL="http://localhost:3000"

ICECAST_HOST="icecast" # Keep this the same, as it should reflect the service in the docker compose
ICECAST_PORT="8000"
ICECAST_PASSWORD="hackme"
ICECAST_MOUNT="yourmountpoint"
ICECAST_NAME="Your Icecast Server Name"
ICECAST_ADMIN_USER="admin"
ICECAST_ADMIN_PASS="hackme"
ICECAST_ADMIN_EMAIL="Admin@email.com"
ICECAST_LOCATION="Icecast server location"

SALT_ROUNDS=10